<div class="box">
    <header class="header">
        <span></span>
        <h1 class="hh">
            <strong></strong>
            <b><a class="active" ng-href="#/servers">服务</a></b>
            <b><a ng-href="#/mony">金融</a></b>
            <strong></strong>
        </h1>
        <span class="iconfont icon-search"></span>
    </header>
    <section class="mains">
        <ui-view></ui-view>
    </section>
    <footer class="footer">
        <ul>
            <li>
                <span class="iconfont icon-home"></span>
                <b>首页</b>
            </li>
            <li>
                <span class="iconfont icon-home"></span>
                <b>论坛</b>
            </li>
            <li>
                <span class="iconfont icon-search"></span>
                <b>选车</b>
            </li>
            <li class="on">
                <span class="iconfont icon-search1"></span>
                <b>发现</b>
            </li>
            <li>
                <span class="iconfont icon-home"></span>
                <b>未登录</b>
            </li>
        </ul>
    </footer>
</div>