<div class="lunbo">
    <lunbo></lunbo>
    <div class="parlist">
        <ul class="list">
            <li>
                <span style="background: #FF6666"><i class="iconfont icon-search"></i></span>
                <b>车商城</b>
            </li>
            <li>
                <span style="background: #FFA048"><i class="iconfont icon-search"></i></span>
                <b>分期购车</b>
            </li>
            <li>
                <span style="background: #FF6666"><i class="iconfont icon-home"></i></span>
                <b>团购活动</b>
            </li>
            <li>
                <span style="background: #4483FF"><i class="iconfont icon-home"></i></span>
                <b>找二手车</b>
            </li>
        </ul>
    </div>
    <div class="logo">
        <img src="Scripts/images/tit_06.png" alt="">
    </div>
    <div class="cars">
        <h1>车主服务</h1>
        <div class="item">
            <dl>
                <dt><img src="Scripts/images/one_06.png" alt=""></dt>
                <dd>油卡充值</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_09.png" alt=""></dt>
                <dd>低价保险</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_12.png" alt=""></dt>
                <dd>4S保养店</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_14.png" alt=""></dt>
                <dd>品质轮胎</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_21.png" alt=""></dt>
                <dd>车品商城</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_26.png" alt=""></dt>
                <dd>洗车</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_28.png" alt=""></dt>
                <dd>违章代缴</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_24.png" alt=""></dt>
                <dd>免费测评</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_35.png" alt=""></dt>
                <dd>查周边</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_37.png" alt=""></dt>
                <dd>车主卡</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_39.png" alt=""></dt>
                <dd>领券保养</dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/one_41.png" alt=""></dt>
                <dd>全部</dd>
            </dl>
        </div>
    </div>
    <rows></rows>
    <div class="action">
        <div class="top">
            <h1>活动专区</h1>
            <span>更多活动 ></span>
        </div>
        <div class="bott">
            <dl>
                <dd>
                    <h2>测身价炫富</h2>
                    <b>身价大PK</b>
                </dd>
                <dt>
                    <img src="Scripts/images/three_51.png" alt="">
                </dt>
            </dl>
            <dl>
                <dd>
                    <h2>全场0利率</h2>
                    <b>购车无压力</b>
                </dd>
                <dt>
                    <img src="Scripts/images/three_54.png" alt="">
                </dt>
            </dl>
            <dl>
                <dd>
                    <h2>好车分期</h2>
                    <b>定制专属方案</b>
                </dd>
                <dt>
                    <img src="Scripts/images/three_57.png" alt="">
                </dt>
            </dl>
        </div>
    </div>
    <like></like>
</div>