<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="Scripts/images/lb_02.png" alt=""></div>
        <div class="swiper-slide"><img src="Scripts/images/lb_02.png" alt=""></div>
        <div class="swiper-slide"><img src="Scripts/images/lb_02.png" alt=""></div>
        <div class="swiper-slide"><img src="Scripts/images/lb_02.png" alt=""></div>
        <div class="swiper-slide"><img src="Scripts/images/lb_02.png" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
</div>