<div class="rows">
    <div class="top">
        <h1>限时抢购</h1>

        <div class="timer">
            <span id="shi">{{hours}}</span>:<span id="fen">{{getMinutes}}</span>:<span id="miao">{{seconds}}</span>
        </div>
    </div>
    <div class="gun">
        <div class="bott">
            <dl>
                <dt><img src="Scripts/images/twoo_47.png" alt=""></dt>
                <dd>
                    <h2>补胎工具简易套装</h2>
                    <b>￥9.9元</b>
                </dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/twoo_47.png" alt=""></dt>
                <dd>
                    <h2>补胎工具简易套装</h2>
                    <b>￥9.9元</b>
                </dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/twoo_47.png" alt=""></dt>
                <dd>
                    <h2>补胎工具简易套装</h2>
                    <b>￥9.9元</b>
                </dd>
            </dl>
            <dl>
                <dt><img src="Scripts/images/twoo_47.png" alt=""></dt>
                <dd>
                    <h2>补胎工具简易套装</h2>
                    <b>￥9.9元</b>
                </dd>
            </dl>
        </div>
    </div>

</div>